iCard/iCard.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate

iCard/iCard.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/iCard.xcscheme

iCard/iCard.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/xcschememanagement.plist

iCard/iCard.xcodeproj/project.xcworkspace/contents.xcworkspacedata

iCard/iCard.xcodeproj/project.xcworkspace/xcuserdata/Daniele.xcuserdatad/UserInterfaceState.xcuserstate

iCard/iCard.xcodeproj/xcuserdata/Daniele.xcuserdatad/xcschemes/iCard.xcscheme

iCard/iCard.xcodeproj/xcuserdata/Daniele.xcuserdatad/xcschemes/xcschememanagement.plist

iCard/iCard.xcodeproj/xcuserdata/*

iCard/iCard.xcodeproj/project.xcworkspace/xcuserdata/*
